.forgot-password-email-card,
.forgot-password-password-card {
  width: 300px;
  padding: 15px 5px 0;
  margin: 0 auto;
  background-color: rgb(20, 34, 73);
}
.forgot-password-email-form-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.forgot-password-email-form-separator {
  background-color: white;
}
.forgot-password-email-form-label2 {
  font-size: 12px;
}
.forgot-password-email-form {
  margin-top: 10px;
}
.lower-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
}
.forgot-password-password-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.send-button,
.cancel-button {
  width: 100%;
  background-color: rgb(249, 152, 48);
}
.email-input.error,
.password-input.error,
.confirm-password-input.error {
  border: 2px solid #c10015;
  border-radius: 6px;
}

@media (max-width: 768px) {
  .forgot-password-email-card,
  .forgot-password-password-card,
  .register-button,
  .cancel-button {
    width: 100%;
  }
}
