.consultation-information-main-header {
  color: white;
  background-color: rgb(249, 152, 48);
  position: relative;
}
.consultation-information-header-title {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.consultation-information-add-consultation-button {
  position: absolute;
  top: 60px;
  left: 10px;
  width: 200px;
  text-align: center;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: rgb(20, 34, 73);
  color: white;
}
.consultation-information-search-consultation {
  position: absolute;
  top: 60px;
  right: 40px;
  width: 500px;
  transition: 1s;
}
.consultation-information-search-consultation-hidden {
  position: absolute;
  top: 58px;
  right: 40px;
  visibility: hidden;
}
.search {
  position: absolute;
  top: 60px;
  right: 50px;
  color: rgb(20, 34, 73);
}
.search-hidden {
  position: absolute;
  top: 60px;
  left: 300px;
  visibility: hidden;
}
@media (max-width: 740px) {
  .consultation-information-search-consultation {
    width: 95px;
  }
}
.clear-search-button {
  position: relative;
  color: black;
  left: 35px;
}
.consultation-information-main-table {
  position: relative;
  top: 60px;
  left: 10px;
  margin-right: 20px;
}
.consultation-information-delete-button {
  position: absolute;
  top: 60px;
  right: 20px;
  color: rgb(20, 34, 73);
}
.consultation-information-edit-button {
  color: rgb(20, 34, 73);
}
