.patient-information-upper-section {
  display: flex;
  padding: 15px;
  justify-content: space-between;
}
.patient-information-search-patient {
  width: 75%;
  position: relative;
}
.clear-search-button {
  color: black;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}
.patient-information-add-patient-button,
.patient-information-delete-button,
.patient-information-edit-button {
  color: rgb(20, 34, 73);
  height: 5px;
}
.patient-information-main-table {
  width: 100%;
  padding: 0 15px;
}
.patient-information-search-wrapper {
  width: 100%;
}
.patient-information-buttons-wrapper {
  display: flex;
}
